.drum-cell {
    width: 50px;
}
.tempo {
    width: 75px;
}
input[type="text"].current-step,
input[type="text"].current-step.odd{
    background-color: #E4572E;
    /*outline: 0;*/
}

input[type="text"].odd {
    background-color: #F1F1F1;
}

#beat-save {
    width: 50%;
    margin-bottom: 0;
    display: inline-block;
    position: relative;
}

.save {
    margin-bottom:0;
    display: inline-block;
    position: relative;
    vertical-align: top;
}